// prefers-color-scheme colors set up

// Light theme
$colors: (
	base : rgb(239, 243, 249),
	box_base: #fff,
	form_input: rgb(244, 246, 248),
	blank_day_bg: rgb(223, 225, 231),
	text : #000000,
	base2 : #eeeeee,
	text2 : #111111
);

// Dark theme
$colors-dark: (
	base : rgb(27, 33, 35),
	box_base: rgb(44, 52, 58),
	form_input: rgb(55, 63, 70),
	blank_day_bg: rgb(34, 42, 44),
	text: #ffffff,
	base2: #111111,
	text2: #eeeeee
);

:root {
	@each $name, $color in $colors {
		--color-#{$name}: #{$color};
	}
	--theme: 'light';
}

@media (prefers-color-scheme: dark) {
	:root {
		@each $name, $color in $colors-dark {
			--color-#{$name}: #{$color};
		}
		--theme: 'dark';
	}
}

// Use this function to get the color based on name
@function getColor($color-name) {
	@return var(--color-#{$color-name});
}
// End prefers-color-scheme colors set up

// Globals
$background: getColor(base);
$box_shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

// Fonts
$font_nunito: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
$font_playfair: 'Playfair Display', serif;
$font_varela: 'Varela Round', sans-serif;

html,
body {
	background: $background;
	background-color: $background;
	min-width: 885px;
	height: 100%;
	font-family: $font_nunito;
	margin: 0;
	padding-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Fade in transition
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// End fade in transition

// Homepage colors
$homepage_bg: #fff;
$homepage_text: #000;
$homepage_p_text: rgb(76, 92, 167);
$homepage_screenshot_shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

.home {
	width: 70%;
	padding: 0 20px;
	margin-bottom: 50px;
	background: $homepage_bg;
	color: $homepage_text;
	border-radius: 40px;
	text-align: center;
	box-shadow: $box_shadow;

	h2 {
		margin-bottom: 0;
	}

	p {
		font-size: 17px;
		color: $homepage_p_text;
	}

	.section {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 100px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: start;
		align-content: start;
	}

	.explainer {
		min-width: 30%;
		max-width: 40%;
		text-align: left;
		margin-bottom: 30px;
	}

	@media only screen and (min-width: 1346px) {
		h1 {
			font-family: $font_nunito;
			font-size: 50px;
			margin-bottom: 80px;
		}

		.explainer {
			width: 30%;
			text-align: left;
			margin-bottom: 30px;
		}

		.small_screenshot {
			width: 500px;
			border-radius: 15px;
			margin-left: 100px;
			margin-top: 10px;
			box-shadow: $homepage_screenshot_shadow;
		}

		.streak_screenshot {
			width: 80%;
			border-radius: 15px;
			margin-bottom: 30px;
			margin-left: 25px;
			box-shadow: $homepage_screenshot_shadow;
		}
	}

	@media only screen and (max-width: 1345px) {
		h1 {
			font-family: $font_nunito;
			font-size: 50px;
			margin-bottom: 0;
		}

		.explainer {
			min-width: 60%;
			text-align: left;
			margin-bottom: 30px;
			margin-left: 40px;
		}

		.small_screenshot {
			width: 500px;
			border-radius: 15px;
			margin-left: 0;
			margin-top: 0;
			transform: rotate(0deg);
			box-shadow: $homepage_screenshot_shadow;
		}

		.streak_screenshot {
			width: 80%;
			border-radius: 15px;
			margin-bottom: 30px;
			margin-left: 20px;
			box-shadow: $homepage_screenshot_shadow;
		}
	}

	.large_screenshot {
		max-width: 90%;
		min-width: 70%;
		border-radius: 15px;
		margin-top: 20px;
		box-shadow: $homepage_screenshot_shadow;
	}
}

// Tooltip
// Tooltip colors
$tooltip_bg: rgb(58, 59, 63);
$tooltip_text: #fff;
$tooltip_shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tiptext {
	visibility: hidden;
	opacity: 0;
	width: fit-content;
	width: -moz-fit-content;
	min-width: 150px;
	background-color: $tooltip_bg;
	color: $tooltip_text;
	font-family: $font_varela;
	font-size: 13px;
	font-weight: 800;
	text-align: center;
	border-radius: 3px;
	padding: 6px 6px;
	position: absolute;
	z-index: 1;
	box-shadow: $tooltip_shadow;
}

.tooltip:hover .tiptext {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.tooltip.bottom .tiptext {
	margin-left: -105px;
	top: 110%;
	left: 50%;
}

.tooltip.top .tiptext {
	margin-left: -85px;
	z-index: 999;
	bottom: 110%;
	left: 50%;
}

.tooltip.right .tiptext {
	top: -5px;
	left: 110%;
}
// End tooltip

// Navbar
// Navbar colors
$nav_background: getColor(base);
$nav_text: getColor(text);
$nav_link: getColor(text);
$nav_link_hover: #0084ff;
$nav_user_header_stat_bg: rgb(0, 100, 98);
$nav_user_header_stat_text: #fff;
$nav_logout_button_text: getColor(text);
$nav_logout_button_border: #ccc;
$nav_logout_button_bg: getColor(base);
$nav_logout_button_hover_text: #e10600;

// Username
$nav_username_bg: rgb(101, 50, 255);
$nav_username_text: #fff;

.topnav {
	width: 100%;
	background-color: $nav_background;
	padding: 20px 0;
	color: $nav_text;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	align-content: start;
	animation: fadeIn 0.3s;

	@media only screen and (min-width: 1050px) {
		// Logo
		.statis_logo {
			width: fit-content;
			width: -moz-fit-content;
			margin-right: 20%;
			text-align: center;
			float: left;

			a {
				font-weight: bolder;
				font-size: 30px;
				color: $nav_link;
				text-decoration: none;
			}
		}
	}

	@media only screen and (max-width: 1275px) {
		// Logo
		.statis_logo {
			width: 100%;
			margin-right: 0;
			display: flex;
			text-align: none;
			float: none;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: start;
			align-content: start;

			a {
				font-weight: bolder;
				font-size: 30px;
				color: $nav_link;
				text-decoration: none;
			}
		}
	}

	.links_holder {
		margin-top: 8px;
	}

	a {
		float: right;
		display: block;
		color: $nav_link;
		text-align: center;
		padding: 5px 10px;
		flex: 0 0 auto;
		margin-left: 10px;
		text-decoration: none;
		font-size: 17px;
		border-radius: 25px;
		transition: 0.5s;
	}

	a:hover {
		color: $nav_link_hover;
		border-radius: 5px;
		background-color: getColor(box_base);
	}

	.login_link {
		padding: 5px 20px;
		border-radius: 5px;
		border: 1px solid $nav_link_hover;
		transition: 0.3s;
		color: #0084ff;

		&:hover {
			box-shadow: 0 0 0 1pt $nav_link_hover;
		}
	}

	.link_active {
		color: getColor(text);
		border-radius: 5px;
		background-color: getColor(box_base);
	}

	.icon {
		display: none;
	}

	.username {
		color: $nav_username_text;
		background-color: $nav_username_bg;
		border-radius: 5px;
		padding: 5px 10px;
		height: 19px;
		margin-top: 10px;
		margin-left: 10px;
		font-size: 13px;
		font-weight: 800;

		a {
			background-color: $nav_username_bg;
			color: #fff;
		}
	}

	.user_header_stat {
		color: $nav_user_header_stat_text;
		background-color: $nav_user_header_stat_bg;
		padding: 5px 10px;
		margin-top: 10px;
		font-size: 13px;
		font-weight: 800;
		cursor: pointer;
	}

	.left {
		border-right: 1px solid rgb(1, 90, 89);
		margin-left: 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.right {
		border-left: 1px solid rgb(1, 90, 89);
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

// Log out nav bar button
.logout_button {
	color: $nav_logout_button_text;
	background-color: $nav_logout_button_bg;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 13px;
	padding: 5px 20px;
	border-radius: 5px;
	border: 1px solid $nav_link_hover;
	transition: 0.3s;
	color: #0084ff;
	cursor: pointer;

	&:hover {
		background-color: getColor(box_base);
		box-shadow: 0 0 0 1pt $nav_link_hover;
	}

	&:focus {
		outline: none;
	}
}
// End navbar

// Message alert
// Message alert colors
$message_alert_bg: rgb(254, 236, 231);
$message_alert_text: rgb(236, 67, 15);
$message_alert_border: rgb(236, 67, 15);

$user_alert_bg: getColor(box_base);
$user_alert_text: getColor(text);
$user_alert_border: rgb(56, 133, 221);

$user_error_bg: getColor(box_base);
$user_error_text: getColor(text);
$user_error_border: rgb(236, 67, 15);

.message_alert {
	width: fit-content;
	width: -moz-fit-content;
	display: table;
	color: $message_alert_text;
	padding: 10px 25px;
	margin: 0 auto 20px auto;
	text-align: center;
	background-color: $message_alert_bg;
	border-radius: 5px;
	border-left: 5px solid $message_alert_border;
}

.user_alert {
	width: fit-content;
	width: -moz-fit-content;
	display: table;
	color: $user_alert_text;
	padding: 10px 25px;
	margin: 20px auto 5px auto;
	text-align: center;
	background-color: $user_alert_bg;
	border-radius: 5px;
	border-left: 5px solid $user_alert_border;
}

.user_error {
	width: fit-content;
	width: -moz-fit-content;
	display: table;
	color: $user_error_text;
	padding: 10px 25px;
	margin: 20px auto 0 auto;
	text-align: center;
	background-color: $user_error_bg;
	border-radius: 5px;
	border-left: 5px solid $user_error_border;
}
// End message alert

// Container for centered items
// Container colors
$container_text: getColor(text);

.container {
	color: $container_text;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

// Form (login and register)
// Form colors
$form_text: getColor(text);
$form_bg: getColor(box_base);
$form_label_text: getColor(text);
$form_input_bg: getColor(form_input);
$form_input_color: getColor(text);
$form_input_border: getColor(form_input);
$form_input_border_error: rgb(253, 240, 240);
$form_input_border_hover: rgb(126, 220, 213);
$form_feedback_bg: rgb(253, 240, 240);
$form_feedback_color: rgb(236, 67, 15);

// Form button
$button_bg: #fe9079;
$button_text: #fff;
$button_bg_hover: #ffa290;

// Form links
$form_link_color: getColor(text);

.form_box {
	justify-content: center;
	flex-wrap: wrap;
	width: 45%;
	padding: 30px;
	border-radius: 20px;
	background-color: $form_bg;
	box-shadow: $box_shadow;

	a {
		color: $form_link_color;
		text-decoration: none;
		font-weight: 600;
	}

	a:visited {
		color: $form_link_color;
	}

	h1 {
		margin-top: 0;
		color: $form_text;
		font-weight: 900;
		width: 100%;
	}

	input {
		width: 96%;
		background-color: $form_input_bg;
		color: $form_input_color;
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		border-radius: 5px;
		margin-top: 10px;
		margin-bottom: 15px;
		padding: 15px 10px;
		border: 2px solid $form_input_border;
		transition: 0.3s;

		&:focus {
			border: 2px solid $form_input_border_hover;
			outline: none;
		}
	}

	.error {
		border: 2px solid $form_input_border_error;
	}

	label {
		color: $form_label_text;
		font-size: 18px;
	}

	.formButton {
		border: none;
		color: $button_text;
		width: 200px;
		height: 40px;
		margin-top: 40px;
		border-radius: 5px;
		font-size: 17px;
		font-weight: 300;
		background-color: $button_bg;
		transition: 0.5s;
		cursor: pointer;

		&:hover {
			background: $button_bg_hover;
		}

		&:focus {
			outline: none;
		}
	}

	.input_feedback {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		width: fit-content;
		width: -moz-fit-content;
		padding-left: 11px;
		padding-right: 11px;
		margin-top: -15px;
		margin-left: 5px;
		background-color: $form_feedback_bg;
		color: $form_feedback_color;
		font-size: 14px;
		position: sticky;
	}
}
// End form (login and register)

// Dashboard component
// Dashboard colors
$dashboard_text: getColor(text);
$dashboard_current_day_details_bg: getColor(box_base);
$dashboard_current_day_text_bright: getColor(text);
$dashboard_current_day_text_light: rgb(134, 150, 161);
$dashboard_current_day_details_time_remaining_text: #fff;
$dashboard_current_day_details_time_remaining_bg: rgb(252, 113, 55);
$dashboard_current_day_details_time_remaining_bg_current: rgb(1, 255, 135);
$dashboard_current_day_letter_text: #fff;
$dashboard_current_day_letter_bg: rgb(0, 116, 255);

//Streak notifier colors
$dashboard_streak_notify_bg: rgb(48, 51, 78);
$dashboard_streak_notify_bell_bg_one: rgb(26, 225, 108);
$dashboard_streak_notify_bell_bg_two: linear-gradient(90deg, rgba(26, 225, 108, 1) 25%, rgba(20, 205, 149, 1) 100%);
$dashboard_streak_notify_streak_number_bg: #fff;
$dashboard_streak_notify_streak_number_text: #000;
$dashboard_streak_notify_streak_h2_text: #fff;
$dashboard_streak_notify_explain_text: rgb(76, 92, 167);

// Mood Colors
$mood_ecstatic: rgb(160, 87, 157);
$mood_happy: rgb(2, 196, 198);
$mood_content: rgb(184, 222, 111);
$mood_displeased: rgb(247, 205, 67);
$mood_disappointed: rgb(255, 127, 1);
$mood_stressed: rgb(225, 6, 0);

// Mood setter
$mood_setter_bg: rgb(160, 87, 157);
$mood_setter_bg_gradient: linear-gradient(
	90deg,
	rgba(160, 87, 157, 1) 0%,
	rgba(3, 196, 198, 1) 21%,
	rgba(184, 222, 111, 1) 42%,
	rgba(247, 205, 67, 1) 68%,
	rgba(255, 127, 2, 1) 87%,
	rgba(224, 6, 1, 1) 100%
);
$mood_question_text: #fff;
$mood_setter_radio_border: #009bff;
$mood_setter_radio_boder_right: #fff;

// Mood setter button
$mood_setter_button_bg: rgb(42, 48, 70);
$mood_setter_button_border: #fff;
$mood_setter_button_bg_ecstatic: $mood_ecstatic;
$mood_setter_button_bg_happy: $mood_happy;
$mood_setter_button_bg_content: $mood_content;
$mood_setter_button_bg_displeased: $mood_displeased;
$mood_setter_button_bg_disappointed: $mood_disappointed;
$mood_setter_button_bg_stressed: $mood_stressed;
$mood_setter_button_bg_hover: rgb(218, 0, 112);
$mood_setter_button_text: #fff;

.ecstatic_bg {
	background: $mood_setter_button_bg_ecstatic;
}

.happy_bg {
	background: $mood_setter_button_bg_happy;
}

.content_bg {
	background: $mood_setter_button_bg_content;
}

.displeased_bg {
	background: $mood_setter_button_bg_displeased;
}

.disappointed_bg {
	background: $mood_setter_button_bg_disappointed;
}

.stressed_bg {
	background: $mood_setter_button_bg_stressed;
}

// Monthly report colors
$monthly_report_selector_bg: getColor(base);
$monthly_report_selector_text: getColor(text);
$monthly_report_selector_border: 1px solid rgb(124, 106, 182);
$monthly_report_month_title_bottom_border: 1px solid rgb(124, 106, 182);
$monthty_report_blank_day_bg: getColor(blank_day_bg);
$monthly_report_blank_day_text: rgb(182, 184, 189);
$monthly_report_reported_day_number_bg: rgba(255, 255, 255, 0.6);
$monthly_report_reported_day_number_text: #000;
$monthly_report_day_text: #fff;
$monthly_report_day_border: 1px solid rgb(205, 207, 211);
$monthly_report_loader_color: rgb(252, 113, 55);

// Page title
.page_title {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	color: getcolor(text);
	font-family: $font_playfair;
	font-size: 50px;
}

.page_sub_title {
	width: 100%;
	font-size: 35px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: getColor(text);
}

.dashboard {
	width: 100%;
	color: $dashboard_text;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	animation: fadeIn 1s;

	.dashboard_row {
		text-align: center;
		width: 100%;
	}

	.streak_notify_holder {
		width: 100%;
	}

	.streak_notify {
		background: $dashboard_streak_notify_bg;
		width: 400px;
		margin: 0 auto;
		border-radius: 20px;
		margin-bottom: 30px;

		.explainer {
			font-size: 18px;
			font-weight: 600;
			color: $dashboard_streak_notify_explain_text;
		}

		.bell_holder {
			background: $dashboard_streak_notify_bell_bg_one;
			background: $dashboard_streak_notify_bell_bg_two;
			width: 100%;
			padding: 20px 0px 10px 0px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;

			.total_streaks_number {
				background: $dashboard_streak_notify_streak_number_bg;
				color: $dashboard_streak_notify_streak_number_text;
				font-size: 20px;
				font-weight: 800;
				border-radius: 10px;
				padding: 5px 10px 5px 10px;
				margin-top: 30px;
			}

			.bell-solid.icon {
				color: #fff;
				position: absolute;
				margin-left: 0px;
				margin-top: 2px;
				width: 9px;
				height: 10px;
				border: solid 1px currentColor;
				background-color: currentColor;
				border-radius: 5px 5px 0 0;
			}
			.bell-solid.icon:before {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 2px;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				border: solid 1px currentColor;
				background-color: currentColor;
			}
			.bell-solid.icon:after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: -3px;
				width: 15px;
				height: 0px;
				border-top: solid 1px currentColor;
				border-bottom: solid 1px white;
			}
		}

		.text_holder {
			padding: 20px;
			text-align: center;

			h2 {
				color: $dashboard_streak_notify_streak_h2_text;
			}
		}
	}

	.mood_setter {
		background: $mood_setter_bg;
		background: $mood_setter_bg_gradient;
		width: 80%;
		margin-bottom: 50px;
		padding: 10px 0 0 0;
		border-radius: 5px;
		text-align: center;

		.question {
			color: $mood_question_text;
			font-size: 30px;
			font-weight: 800;
			font-family: $font_playfair;
		}

		.recap_input {
			width: 60%;
			max-height: 50px;
			margin-top: 30px;
			padding: 10px 10px 10px 20px;
			font-size: 13px;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.7);
			background: rgba(255, 255, 255, 0.5);
			border: none;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			&:focus {
				outline: none;
			}
		}

		.recap_counter {
			width: 60%;
			background: rgba(255, 255, 255, 0.3);
			padding: 10px 10px 10px 20px;
			font-weight: bold;
			font-size: 12px;
			color: #000;
			margin: 0 auto;
			border-top: 1px solid #fff;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.button_holder {
			width: 100%;
		}

		button {
			background-color: $mood_setter_button_bg;
			border: none;
			color: $mood_setter_button_text;
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 10px;
			text-transform: uppercase;
			padding: 20px 0;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			width: 100%;
			margin-top: 35px;
			margin-bottom: -5px;
			transition: 0.5s;
			box-shadow: $box_shadow;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}

		::placeholder {
			color: $mood_setter_button_text;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: $mood_setter_button_text;
		}

		::-ms-input-placeholder {
			color: $mood_setter_button_text;
		}

		.all_radio_buttons_container {
			width: 100%;
			margin-top: 15px;
			display: flex;
			align-content: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}

		.radio_button_container {
			margin-top: 20px;
			flex: 1;
			float: left;
		}

		.radio_title {
			margin-top: 10px;
			color: $mood_question_text;
			font-family: $font_varela;
			font-size: 18px;
			font-weight: bold;
		}

		.radio_label {
			display: block;
			position: relative;
			margin: auto;
			cursor: pointer;
			font-size: 22px;
			line-height: 24px;
			height: 24px;
			width: 30px;
			clear: both;
		}

		.radio_label input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		.radio_label .radio_custom {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 24px;
			width: 24px;
			background-color: transparent;
			border-radius: 5px;
			transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			border: 2px solid $mood_setter_radio_boder_right;
		}

		.radio_label input:checked ~ .radio_custom {
			background-color: $mood_setter_radio_boder_right;
			border-radius: 5px;
			-webkit-transform: rotate(0deg) scale(1);
			-ms-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
			opacity: 1;
			border: 2px solid $mood_setter_radio_boder_right;
		}

		.radio_label .radio_custom::after {
			position: absolute;
			content: "";
			left: 12px;
			top: 12px;
			height: 0px;
			width: 0px;
			border-radius: 5px;
			border: solid $mood_setter_radio_border;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(0deg) scale(0);
			-ms-transform: rotate(0deg) scale(0);
			transform: rotate(0deg) scale(0);
			opacity: 1;
			transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
		}

		.radio_label input:checked ~ .radio_custom::after {
			-webkit-transform: rotate(45deg) scale(1);
			-ms-transform: rotate(45deg) scale(1);
			transform: rotate(45deg) scale(1);
			opacity: 1;
			left: 8px;
			top: 3px;
			width: 6px;
			height: 12px;
			border: solid $mood_setter_radio_border;
			border-width: 0 2px 2px 0;
			background-color: transparent;
			border-radius: 0;
		}

		.radio_label .radio_custom::before {
			position: absolute;
			content: "";
			left: 10px;
			top: 10px;
			width: 0px;
			height: 0px;
			border-radius: 5px;
			border: 2px solid $mood_setter_radio_boder_right;
			-webkit-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
		}

		.radio_label input:checked ~ .radio_custom::before {
			left: -3px;
			top: -3px;
			width: 24px;
			height: 24px;
			border-radius: 5px;
			-webkit-transform: scale(3);
			-ms-transform: scale(3);
			transform: scale(3);
			opacity: 0;
			z-index: 999;
			transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
		}
	}

	.ecstatic_bg {
		background: $mood_setter_button_bg_ecstatic;
	}

	.happy_bg {
		background: $mood_setter_button_bg_happy;
	}

	.content_bg {
		background: $mood_setter_button_bg_content;
	}

	.displeased_bg {
		background: $mood_setter_button_bg_displeased;
	}

	.disappointed_bg {
		background: $mood_setter_button_bg_disappointed;
	}

	.stressed_bg {
		background: $mood_setter_button_bg_stressed;
	}

	.work_days {
		min-width: 70%;
		margin-top: 20px;
		font-size: 13px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		cursor: default;

		.on_day {
			width: 40px;
			height: 50px;
			padding: 5px;
			color: #fff;
			background-color: rgb(63, 74, 82);
			text-align: center;
		}

		.off_day {
			width: 40px;
			height: 50px;
			padding: 5px;
			color: #fff;
			background-color: getColor(blank_day_bg);
			text-align: center;
		}

		.current_day {
			background-color: rgb(207, 42, 98);
		}

		.sunday {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		.saturday {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		.day_number {
			width: 40px;
			height: 20px;
			margin-top: 10px;
			border-radius: 100px;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			align-items: center;
			align-content: center;
		}
	}

	.current_day_details {
		min-width: 70%;
		color: $dashboard_current_day_text_light;
		padding: 10px 10px;
		border-radius: 5px;
		font-size: 14px;
		background-color: $dashboard_current_day_details_bg;
		box-shadow: $box_shadow;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		align-content: center;

		.date_hour_text {
			color: $dashboard_current_day_text_bright;
			font-size: 22px;
			font-weight: 900;
		}

		.current_day_word {
			background-color: $dashboard_current_day_letter_bg;
			color: $dashboard_current_day_letter_text;
			font-weight: 900;
			margin-left: 10px;
			padding: 1px 6px;
			border-radius: 5px;
			cursor: pointer;
		}

		.detail_box {
			flex: 1;
			display: flex;
			justify-content: center;
		}

		.current_day_details:first-child > div {
			margin-right: auto;
		}

		.current_day_details:last-child > div {
			margin-right: auto;
		}

		.time_remaining {
			background-color: $dashboard_current_day_details_time_remaining_bg;
			color: $dashboard_current_day_details_time_remaining_text;
			font-family: $font_varela;
			font-weight: 900;
			font-size: 30px;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			text-align: center;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.equal {
			background-color: $dashboard_current_day_details_time_remaining_bg_current;
		}
	}

	.monthly_report {
		width: 80%;

		.report_year_selector {
			width: 100px;
			height: 50px;
			font-size: 18px;
			float: left;
			margin-top: 10px;
			margin-right: 20px;
			border-radius: 10px;
			color: $monthly_report_selector_text;
			background: $monthly_report_selector_bg;
			border: $monthly_report_selector_border;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}

		@media all and (max-width: 900px) {
			.report_year_selector {
				margin-top: 20px;
			}
		}

		.report_nav_links {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.report_nav_link_active {
			border-radius: 5px;
			background-color: getColor(box_base);
		}

		.month_title {
			width: 100%;
			font-size: 40px;
			margin-bottom: 10px;
			border-bottom: $monthly_report_month_title_bottom_border;
		}

		.overview_report {
			width: 100%;
			margin: -30px auto 30px auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: baseline;
			flex-direction: row;

			.year_selector {
				width: 100%;
				margin-bottom: 30px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: baseline;
				flex-direction: row;

				.report_year_selector {
					width: 100px;
					height: 50px;
					font-size: 18px;
					margin: 0;
					float: left;
					border-radius: 10px;
					color: $monthly_report_selector_text;
					background: $monthly_report_selector_bg;
					border: $monthly_report_selector_border;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}
			}

			.overview_day_holder {
				width: 400px;
				margin-bottom: 20px;
				margin-right: 15px;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				animation: fadeIn 0.3s;
				cursor: default;
			}

			.overview_month_name {
				width: 100%;
				padding: 0 5px 0 0;
			}

			.overview_day {
				margin: 5px 0 0 1%;
				flex-grow: 1;
				height: 40px;
				font-size: 13px;
				color: #fff;
				padding: 3px 0 0 3px;
				width: calc(100% * (1/7) - 10px - 1px);
			}

			.blank_overview_day {
				background-color: getColor(blank_day_bg);
				margin: 5px 0 0 1%;
				flex-grow: 1;
				height: 40px;
				font-size: 13px;
				color: $monthly_report_blank_day_text;
				padding: 3px 0 0 3px;
				width: calc(100% * (1/7) - 10px - 1px);
			}

			.fill_empty_flex_box {
				margin: 5px 0 0 1%;
				flex-grow: 1;
				height: 0;
				font-size: 13px;
				padding: 3px 0 0 3px;
				width: calc(100% * (1/7) - 10px - 1px);
			}

			.month_aligner {
				display: block;
			}

			.public_overview_user_info {
				background: getColor(box_base);
				width: fit-content;
				border-radius: 5px;
				margin: 0 auto 30px auto;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;

				.info_holder {
					padding: 30px;
					text-align: center;
					align-items: center;
					color: getColor(text);
					font-size: 20px;

					.label {
						width: 100%;
						margin-bottom: 10px;
						font-size: 13px;
						color: rgb(136, 153, 166);
					}
				}

				.border_left {
					border-left: 1px solid getColor(base2);
				}

				.border_none {
					border-left: none;
				}
			}
		}

		.month_stats {
			width: 100%;
			padding: 5px 0 15px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.mood_total {
				height: 50px;
				font-weight: 900;
				padding-left: 5px;
				margin-bottom: 5px;
				margin-right: 3px;
				border-radius: 5px;

				.text {
					color: #fff;
					padding-top: 13px;
					float: left;
				}

				.number {
					background-color: #fff;
					color: #000;
					height: 38px;
					text-align: center;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					float: right;
					padding: 6px 10px;
					margin-left: 5px;
				}

				.percentage {
					width: 100%;
					color: rgba(0, 0, 0, 0.3);
					font-size: 12px;
					text-align: center;
				}
			}
		}

		.week_day_names {
			width: 100%;
			display: flex;
			justify-content: space-around;

			span {
				background: getColor(box_base);
				border: 1px solid getColor(box_base);
				text-align: center;
				width: calc(100% * (1/7) - 10px - 6px);
				flex-grow: 1;
				margin-right: 3px;
			}
		}

		.fill_empty_flex_box {
			width: calc(100% * (1/7) - 10px - 6px);
			flex-grow: 1;
			height: 0;
			font-size: 15px;
			margin-bottom: 3px;
			margin-right: 3px;
			padding: 5px;
		}

		.days_holder {
			width: 100%;
			margin-bottom: 80px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			animation: fadeIn 0.3s;
		}

		.current_day_highlight {
			outline: 1px solid rgb(26, 92, 255);
		}

		// Day Tooltip
		// Day Tooltip colors
		$day_tooltip_bg: rgb(79, 135, 251);
		$day_tooltip_text: #fff;
		$day_tooltip_shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

		.day_tooltip {
			position: relative;
			left: 0%;
			top: 70%;
		}

		.day_tooltip .day_tiptext {
			visibility: hidden;
			width: fit-content;
			width: -moz-fit-content;
			width: 173px;
			background-color: $day_tooltip_bg;
			color: $day_tooltip_text;
			font-family: $font_varela;
			font-size: 13px;
			font-weight: 800;
			text-align: center;
			border-radius: 3px;
			padding: 6px 6px;
			position: absolute;
			z-index: 1;
			box-shadow: $day_tooltip_shadow;
		}

		.day_tooltip:hover .day_tiptext {
			visibility: visible;
		}

		.day_tooltip.bottom .day_tiptext {
			margin-left: -85px;
			margin-top: 30px;
			top: 98%;
			left: 0%;
		}

		.day_tooltip.top .day_tiptext {
			margin-left: -85px;
			z-index: 999;
			bottom: 110%;
			left: 0%;
		}

		.day_tooltip.right .day_tiptext {
			margin-top: 0px;
			margin-left: 23px;
		}

		.day_tooltip.left .day_tiptext {
			margin-left: -190px;
		}
		// End day tooltip

		.blank_day {
			width: calc(100% * (1/7) - 10px - 6px);
			flex-grow: 1;
			height: 80px;
			font-size: 15px;
			margin-bottom: 3px;
			margin-right: 3px;
			color: $monthly_report_blank_day_text;
			padding: 5px;
			background: $monthty_report_blank_day_bg;
		}

		.month_aligner {
			display: block;
		}

		.reported_day {
			width: calc(100% * (1/7) - 10px - 6px);
			flex-grow: 1;
			height: 80px;
			font-size: 15px;
			font-weight: 900;
			margin-bottom: 3px;
			margin-right: 3px;
			color: $monthly_report_day_text;
			padding: 5px;
			cursor: pointer;

			.day_number {
				width: 30px;
				height: 25px;
				text-align: center;
				align-items: center;
				padding-top: 7px;
				border-radius: 5px;
				float: left;
				color: $monthly_report_reported_day_number_text;
				background: $monthly_report_reported_day_number_bg;
			}

			.day_name {
				font-size: 13px;
				margin-left: 34px;
				margin-top: 7px;
			}

			.mood_word {
				font-size: 15px;
				width: 100%;
				margin-top: 15px;
				margin-left: 0px;
			}

			.chat-solid.icon {
				color: rgba(255, 255, 255, 1);
				position: absolute;
				margin-top: 8px;
				width: 15px;
				height: 10px;
				border: solid 1px currentColor;
				background-color: currentColor;
				border-radius: 2px;
			}
			.chat-solid.icon:before {
				content: '';
				position: absolute;
				left: 3px;
				top: 8px;
				width: 4px;
				height: 4px;
				background-color: currentColor;
				border-bottom: solid 1px currentColor;
				border-right: solid 1px currentColor;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}

		.Ecstatic {
			background: $mood_setter_button_bg_ecstatic;
		}

		.Happy {
			background: $mood_setter_button_bg_happy;
		}

		.Content {
			background: $mood_setter_button_bg_content;
		}

		.Displeased {
			background: $mood_setter_button_bg_displeased;
		}

		.Disappointed {
			background: $mood_setter_button_bg_disappointed;
		}

		.Stressed {
			background: $mood_setter_button_bg_stressed;
		}

		// Loader
		.month_loader:empty {
			position: absolute;
			left: calc(51% - 4em);
			width: 3em;
			height: 3em;
			border: 1.1em solid rgba(0, 0, 0, 0.2);
			border-left: 1.1em solid $monthly_report_loader_color;
			border-radius: 50%;
			animation: load8 1.1s infinite linear;
		}

		@keyframes load8 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		// End loader
	}
}

// Change work schedule
// Change work schedule component colors
$select_bg_color: getColor(blank_day_bg);
$select_text_color: getColor(text2);
$select_bg_color_hover: #ff896e;
$set_work_button_background: #fe9079;
$set_work_button_background_hover: #ffa290;
$set_work_button_text_color: #fff;

.edit_schedule {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	animation: fadeIn 0.5s;

	.set_work_hours {
		width: 100%;

		label {
			position: absolute;
		}

		select {
			background: $select_bg_color;
			margin-top: 30px;
			margin-right: 5px;
			padding-left: 10px;
			width: 49%;
			height: 50px;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			border: none;
			color: $select_text_color;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			transition: 0.3s;
			cursor: pointer;

			&:hover {
				background: $select_bg_color_hover;
				color: #fff;
			}

			&:focus {
				outline: none;
			}
		}

		.button {
			border: none;
			color: $set_work_button_text_color;
			width: 200px;
			height: 40px;
			margin-top: 40px;
			border-radius: 5px;
			font-size: 17px;
			font-weight: 300;
			background-color: $set_work_button_background;
			transition: 0.3s;
			cursor: pointer;

			&:hover {
				background: $set_work_button_background_hover;
			}

			&:focus {
				outline: none;
			}
		}
	}

	.set_work_days {
		width: 100%;

		.day_selector {
			width: 100%;
			border-radius: 5px;

			.button_holder {
				width: 100%;
			}

			.button {
				border: none;
				color: $set_work_button_text_color;
				width: 200px;
				height: 40px;
				margin-top: 60px;
				border-radius: 5px;
				font-size: 17px;
				font-weight: 300;
				background-color: $set_work_button_background;
				transition: 0.5s;
				cursor: pointer;

				&:hover {
					background: $set_work_button_background_hover;
				}

				&:focus {
					outline: none;
				}
			}

			.all_checkbox_container {
				width: 100%;
				display: flex;
				align-content: center;
				justify-content: space-evenly;
				flex-wrap: wrap;
			}

			.checkbox_container {
				margin-top: 20px;
				flex: 1;
				float: left;
			}

			.checkbox_title {
				margin-top: 20px;
				color: getColor(text);
				font-family: $font_varela;
				font-size: 18px;
				font-weight: bold;
				text-align: center;
			}

			.checkbox_label {
				display: block;
				position: relative;
				margin: auto;
				cursor: pointer;
				font-size: 22px;
				line-height: 24px;
				height: 24px;
				width: 30px;
				clear: both;
			}

			.checkbox_label input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}

			.checkbox_label .checkbox_custom {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 24px;
				width: 24px;
				background-color: transparent;
				border-radius: 5px;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				border: 1px solid #000;
			}

			.checkbox_label input:checked ~ .checkbox_custom {
				background-color: $mood_setter_radio_boder_right;
				border-radius: 5px;
				-webkit-transform: rotate(0deg) scale(1);
				-ms-transform: rotate(0deg) scale(1);
				transform: rotate(0deg) scale(1);
				opacity: 1;
				border: 1px solid #000;
			}

			.checkbox_label .checkbox_custom::after {
				position: absolute;
				content: "";
				left: 12px;
				top: 12px;
				height: 0px;
				width: 0px;
				border-radius: 5px;
				border: solid $mood_setter_radio_border;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(0deg) scale(0);
				-ms-transform: rotate(0deg) scale(0);
				transform: rotate(0deg) scale(0);
				opacity: 1;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
			}

			.checkbox_label input:checked ~ .checkbox_custom::after {
				-webkit-transform: rotate(45deg) scale(1);
				-ms-transform: rotate(45deg) scale(1);
				transform: rotate(45deg) scale(1);
				opacity: 1;
				left: 8px;
				top: 3px;
				width: 6px;
				height: 12px;
				border: solid $mood_setter_radio_border;
				border-width: 0 2px 2px 0;
				background-color: transparent;
				border-radius: 0;
			}

			.checkbox_label .checkbox_custom::before {
				position: absolute;
				content: "";
				left: 10px;
				top: 10px;
				width: 0px;
				height: 0px;
				border-radius: 5px;
				border: 2px solid $mood_setter_radio_boder_right;
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			}

			.checkbox_label input:checked ~ .checkbox_custom::before {
				left: -3px;
				top: -3px;
				width: 24px;
				height: 24px;
				border-radius: 5px;
				-webkit-transform: scale(3);
				-ms-transform: scale(3);
				transform: scale(3);
				opacity: 0;
				z-index: 999;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
			}
		}
	}

	.pause_reason_holder {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: nowrap;

		span {
			flex-shrink: 1;
			font-size: 20px;
			font-weight: bold;
		}
	}

	.pause_img_holder {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: nowrap;

		img {
			width: 15%;
			flex-shrink: 1;
			animation: fadeIn 0.3s;
		}
	}

	.icon_credit {
		color: rgb(51, 51, 51);
		font-size: 12px;

		a {
			text-decoration: none;
			color: rgb(51, 51, 51);
		}
	}
}
// End change work schedule component

// Settings component

.settings {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	animation: fadeIn 0.5s;

	input {
		width: 100%;
		background-color: $form_input_bg;
		color: $form_input_color;
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		border-radius: 5px;
		margin-top: 10px;
		margin-bottom: 15px;
		padding: 15px 10px;
		border: 2px solid $form_input_border;
		transition: 0.3s;

		&:focus {
			border: 2px solid $form_input_border_hover;
			outline: none;
		}
	}

	.error {
		border: 2px solid $form_input_border_error;
	}

	label {
		color: $form_label_text;
		font-size: 18px;
	}

	.formButton {
		border: none;
		color: $set_work_button_text_color;
		width: 200px;
		height: 40px;
		margin-top: 40px;
		border-radius: 5px;
		font-size: 17px;
		font-weight: 300;
		background-color: $set_work_button_background;
		transition: 0.5s;
		cursor: pointer;

		&:hover {
			background: $set_work_button_background_hover;
		}

		&:focus {
			outline: none;
		}
	}
}

// End settings component

// Global left link navigator and right panel

.left_links {
	width: fit-content;
	width: -moz-fit-content;
	margin: 0 20px 20px 0;

	.link {
		width: 300px;
		margin: 0 auto;
		padding: 10px 0 10px 10px;
		background-color: getColor(box_base);

		&:hover {
			background-color: $form_input_bg;
		}
	}

	.middle_link {
		border-top: 1px solid rgb(124, 106, 182);
		border-left: 1px solid rgb(124, 106, 182);
		border-right: 1px solid rgb(124, 106, 182);
	}

	.top_link {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 1px solid rgb(124, 106, 182);
		border-left: 1px solid rgb(124, 106, 182);
		border-right: 1px solid rgb(124, 106, 182);
	}

	.bottom_link {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid rgb(124, 106, 182);
	}

	a {
		color: getColor(text);
		text-decoration: none;

		&:visited {
			color: getColor(text);
		}
	}
}

.right_panel {
	width: 50%;
	padding: 20px;
	background-color: getColor(box_base);
	border-radius: 10px;
	box-shadow: $box_shadow;

	input {
		width: 96%;
		background-color: $form_input_bg;
		color: $form_input_color;
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		border-radius: 5px;
		margin-top: 10px;
		margin-bottom: 15px;
		padding: 15px 10px;
		border: 2px solid $form_input_border;
		transition: 0.3s;

		&:focus {
			border: 2px solid $form_input_border_hover;
			outline: none;
		}
	}

	.panel_title {
		width: 100%;
		font-size: 35px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		color: getColor(text);
	}
}

// End global left links navigator and right panel

// Media queries for smaller screen sizes

@media all and (max-width: 1265px) {
	.dashboard {
		width: 100%;
		color: $dashboard_text;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;

		.current_day_details {
			min-width: 80%;
		}

		.monthly_report {
			width: 95%;
		}
	}
}

@media all and (max-width: 1000px) {
	.form_box {
		width: 80%;
	}

	.right_panel {
		width: 80%;
	}
}

@media all and (max-width: 1099px) {
	.right_panel {
		width: 80%;
		float: right;
		padding: 20px;
		background-color: getColor(box_base);
		border-radius: 10px;
		margin-left: 0;
		margin: 0 auto;
	}
}

// End media queries for smaller screen sizes

// Loader
.loader:empty {
	position: absolute;
	top: calc(30% - 4em);
	left: calc(50% - 4em);
	width: 6em;
	height: 6em;
	border: 1.1em solid rgba(0, 0, 0, 0.2);
	border-left: 1.1em solid #0fff;
	border-radius: 50%;
	animation: load8 1.1s infinite linear;
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
// End loader
