# General
.DS_Store

# ReactJS / ExpressJS / NodeJS
node_modules
.eslintrc.js
.env
config.js
public/bundle.js
dist
package-lock.json
passport-config.js
build
babel.config.js
package.json
Procfile
webpack.config.js

# Models
server/models/User.js
server/models/SatisReport.js

# PWA
public/service-worker.js
robots.txt
manifest.json

# Other
server/views/index.ejs
server/api/NotifierService.js
server/routes/index.js